<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <%= link_to 'Book Review', root_path, class: 'navbar-brand' %>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li><%= link_to current_user.email, edit_user_registration_path  %></li>
            <% end %>
        </ul>   
    </div>
</nav>